.monthlyRaport
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  div
    width: 50%
    display: flex
    justify-content: flex-start
    flex-direction: column
    span
      font-size: 30px
    .raportOptions
      font-size: 25px
      form
        select
          width: 150px
          height: 30px
          color: $text-white
          background-color: $brand-color
          border-left: 3px solid $brand-orange
