.monthlyRaport
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  .monthlyRaportContainer
    width: 60%
    display: flex
    justify-content: center
    flex-direction: row
    span
      font-size: 30px
    .raportOptions
      display: flex
      flex-direction: row
      font-size: 25px
      form
        select
          width: 150px
          height: 30px
          color: $text-white
          background-color: $brand-color
          border-left: 3px solid $brand-orange
          margin-left: 10px
  .monthlyRaportTable
    width: 60%
    display: flex
    justify-content: center
    flex-direction: column
    .monthlyRow
      width: 100%
      display: flex
      flex-direction: row
      .monthlyCol
        display: flex
        justify-content: flex-start
        width: 25%
