.financeMenuContainer
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  .row
    display: flex
    flex-direction: row
    .financeMenuBtn
      display: flex
      justify-content: center
      align-items: center
      width: 200px
      height: 50px
      background-color: $brand-color
      color: #ffffff
      border-bottom: 5px solid $brand-orange
      border-radius: 5px
      margin: 10px
      cursor: pointer
      text-decoration: none
      &:hover
        opacity: 0.8
      .financeBtn
        text-align: center

// Monthly Finances
.monthlyRaport
  width: 100%
  display: flex
  align-items: center
  flex-direction: column
  .monthlyRaportContainer
    width: 60%
    display: flex
    justify-content: center
    flex-direction: column
    margin-bottom: 20px
    span
      display: flex
      flex-direction: row
      font-size: 30px
    .raportOptions
      display: flex
      flex-direction: row
      font-size: 25px
      form
        select
          width: 150px
          height: 30px
          color: $text-white
          background-color: $brand-color
          border-left: 3px solid $brand-orange
          margin-left: 10px
  .monthlyRaportTable
    width: 60%
    display: flex
    justify-content: center
    flex-direction: column
    .addFile
      width: 200px
      height: 40px

    .monthlyRow
      width: 100%
      display: flex
      flex-direction: row
      border-right: 0px
      .monthlyCol
        display: flex
        justify-content: center
        width: 25%
        border: 1px solid #000
        border-right: 1px solid #000
  .addRow
    display: flex
    justify-content: center
    align-items: center
    width: 150px
    height: 40px
    color: $text-white
    background-color: $brand-color
    border-radius: 4px
    margin-top: 30px
    &:hover
      border-bottom: 3px solid $brand-orange
      padding-bottom: 3px
